.order-page-container {
    overflow-y: auto;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.order-page-header,
.company-configuration-header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-page-header-button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #1255cb;
    color: white;
    cursor: pointer;
}

.order-page-header-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.order-page-header h1 {
    margin-bottom: 20px;
    color: #001944;
    font-weight: normal;
}

.order-page-configuration-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
}

.order-page-configuration-header h1{
    margin-bottom: 10px;
    font-size: 24px;
    color: #001944;
    font-weight: normal;
}

.order-page-configuration-header-button{
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #1255cb;
    background: none;
    color: #1255cb;
    font-weight: bold;
    cursor: pointer;
}

.order-page-configuration-content{
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

.order-page-table-content{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    border-radius: 10px;
}

.order-page-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    font-size: 16px;
    color: black;
    background: white;
    min-width: 200px;
}

.order-page-select:focus {
    border: 1px solid #1255cb;
}

.order-page-configuration-content h1,
.order-page-table-content h1{
    font-size: 18px;
}

.order-page-configuration-content p{
    font-size: 18px;
}

.highlighted-text{
    color: #0024a7;
}

.order-page-divider {
    width: 100%;
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: #d3d3d3;
}

.order-page-configuration-colors {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.order-page-table {
    width: 100%;
    border-collapse: collapse;
}

.order-page-table td {
    padding: 12px;
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
}

.order-page-table img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.order-page-configuration-color {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    background-color: #d1ecf1;
    color: #0c5460;
}