.company-create-container{
    padding: 20px;
}

.company-create-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.company-create-header-button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #1255cb;
    color: white;
    cursor: pointer;
}

.company-create-header h1 {
    margin-bottom: 20px;
    color: #001944;
    font-weight: normal;
}